<div class="search-overlay">

</div>

<div class="search-container">
    <div class="search-head">
        <divc class="search-input-container">
            <form action="#">
                <div class="input-search">
                    <input type="text" placeholder="Type here...">
                </div>
    
                <div class="search-icon">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </form>
        </div>

        <div class="search-content">
            <div class="search-content-box">
                <a href="#"><p>Mathematics</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>English</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>Computer Science</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>Biological Technich</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>Differencial Calculus</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>Chemical Equilibrum</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>History of Computer</p></a>
            </div>
    
            <div class="search-content-box">
                <a href="#"><p>Mathematical methods</p></a>
            </div>
        </div>
    </div>
</div>