<%- include('includes/header') %>
<%- include('includes/navHeader') %>

<div class="container-404">
    <div class="container-404-img">
        <img src="/images/404.svg" alt="404">
    </div>

    <div class="message-404">
        <p>Oooppps, we cannot find the page you are looking for...</p>
        <a href="#">back to home</a>
    </div>
</div>

<%- include('includes/footer') %>