<%- include('includes/header') %>
<%- include('includes/navHeader') %>

<div class="topics-container">
    <div class="mobile-content">
        <i class="fas fa-chevron-right" arial-hidden="true"></i>
    </div>
    <div class="topics-container-inner">
        <div class="placeholder"></div>
        <div class="topics-sidebar1">
            <div class="topics-sidebar1-head">
                <h1>Course summary</h1>
            </div>

            <div class="topics-contents-container">
                <div class="topics-title">
                    <div>
                        <ul>
                            <a href="#"><li>The Cell</li></a>
                            <a href="#"><li>Cell Division</li></a>
                            <a href="#"><li>Diffusion</li></a>
                            <a href="#"><li>Osmosis</li></a>
                            <a href="#"><li>Commot Please</li></a>
                            <a href="#"><li>Take care know</li></a>
                            <a href="#"><li>Get out of these Place</li></a>
                            <a href="#"><li>Energy and activities</li></a>
                            <a href="#"><li>Structure of the cell</li></a>
                            <a href="#"><li>Cell membrane</li></a>
                            <a href="#"><li>Photosynthesis</li></a>
                            <a href="#"><li>Ecology</li></a>
                            <a href="#"><li>The chemistry of life</li></a>
                            <a href="#"><li>The cell and its environment</li></a>
                            <a href="#"><li>More about cell</li></a>
                            <a href="#"><li>The Cell</li></a>
                            <a href="#"><li>Cell Division</li></a>
                            <a href="#"><li>Diffusion</li></a>
                            <a href="#"><li>Osmosis</li></a>
                            <a href="#"><li>Commot Please</li></a>
                            <a href="#"><li>Take care know</li></a>
                            <a href="#"><li>Get out of these Place</li></a>
                            <a href="#"><li>Energy and activities</li></a>
                            <a href="#"><li>Structure of the cell</li></a>
                            <a href="#"><li>Cell membrane</li></a>
                            <a href="#"><li>Photosynthesis</li></a>
                            <a href="#"><li>Ecology</li></a>
                            <a href="#"><li>The chemistry of life</li></a>
                            <a href="#"><li>The cell and its environment</li></a>
                            <a href="#"><li>More about cell</li></a>
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="topics-sidebar2">
            <div class="topics-unit">
                <h1>Cell Biology</h1>
            </div>
            <div class="topics-sidebar2-inner">
                <h2>Temperature regulation</h2>
                <p>Some times, we ask ourselves, why do we have to worry about things in life? Let's say we want to start a business that need capital and hahah! actually I don't know what I'm typing. I hope I'm not writing nonsence. Adipisicing elit. Quisquam inventore deserunt temporibus. Porro officia perferendis quibusdam nam? Repudiandae illo facere adipisci quisquam libero ducimus dolores, sunt, corrupti cum ab provident hic. Rem, commodi! Optio, illo error assumenda reprehenderit earum temporibus!</p>
                <h2>The Role of Water in the Maintenance of Life</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam inventore deserunt temporibus. Porro officia perferendis quibusdam nam? Repudiandae illo facere adipisci quisquam libero ducimus dolores, sunt, corrupti cum ab provident hic. Rem, commodi! Optio, illo error assumenda reprehenderit earum temporibus!</p>
                <h2>Form and support</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure recusandae ad praesentium quis quas? Quidem fuga facere mollitia eaque non, ut consectetur similique ea ullam perspiciatis, fugiat quibusdam earum libero assumenda obcaecati, vitae minima atque tenetur? Hic placeat officiis consequatur cum adipisci explicabo blanditiis ullam dolor saepe dolore tempore incidunt, vitae nisi? Mollitia ut eveniet magni quia accusantium architecto non recusandae ratione autem! Tempore cumque architecto nisi odio quisquam culpa ipsam nemo harum, recusandae quis tenetur magni animi minima! Minus.</p>
                <h2>Solvent for biological chemicals</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo maiores repudiandae quae, dolorum cumque beatae nulla aut fugit pariatur ipsum.</p>
            </div>
        </div>
    </div>
</div>

<%- include('includes/footer') %>