* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
    background: #1a1a1a;  /* fallback for old browsers */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #0c0924 solid 5px;
    position: relative;
}


.search-container {
    position: absolute;
    background: white;
    width: 40%;
    left: 70%;
    transform: translateX(-50%);
    top: 105%;
    z-index: 5;
    box-shadow: 0 3px 3px 2px rgba(0,0,0,.5);
    border-radius: 0 0 5px 5px;
    height: 60vh;
    visibility: hidden;
    display: none;
    overflow: scroll;
}

.search-head {
    width: 90%;
    margin: 20px auto;
}

.search-input-container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-right: none;
}

.input-search {
    width: 100%;
}

.input-search input {
    width: 100%;
    border: none;
    padding: 10px;
    margin-left: 15px;
}

.search-icon button {
    background: #0f0c29;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
}

.search-content {
    width: 90%;
    margin: 0 auto;
}

.search-content-box a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 0;
    text-decoration: none;
    color: #444;
    display: block;
}

.fadeIn {
    display: block; 
    visibility: visible;
}

.logo-img img {
    height: 100px;
    margin-left: 10px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul a {
    text-decoration: none;
    margin-right: 30px;
    font-size: large;
    font-family: "Lato", sans-serif;
}

.nav ul li {
    list-style: none;
    color: #fff;
    border-bottom: 1px solid transparent;
}

.nav ul i {
    margin-right: 30px;
    cursor: pointer;
}

.nav ul li:hover {
    color: wheat;
    border-bottom: 1px solid wheat;
}


.login button {
    font-size: large;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding: .8em 2rem;
    margin-right: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: #05a081;
    color: #fff;
    position: relative;
    transition: .2s ease-in-out;
    letter-spacing: .118em;
}

.login button:hover {
   background: #007e65;
   color: #ccc;
}

.login li {
    display: none;
}

.profile-pic-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: #ccc;
    padding: -6px;
    border-radius: 50%;
    display: grid;
    align-items: center;
    margin: auto;
    border: 4px solid #fff;
}

.profile-pic-container {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}

.profile-pic-container img {
    height: 100%;
    width: 100%;
}

.mobile-nav-menus {
    display: none;
}

.welcome-m-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}

.welcome-sidebar1 {
    width: 95%;
}

.welcome-sidebar2 {
    width: 100%;
    margin-bottom: 20px;
}

.welcome-m-h1 h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    color: #0f0c29;
    margin-bottom: 30px;
}

.welcome-m-p p {
    line-height: 30px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 20px 0 20px 0;
    font-size: 20px;
    color: #21242c;
}

.welcome-m-button button {
    padding: 15px 60px;
    border: none;
    border-radius: 5px;
    background: #0f0c29;
    color: #fff;
    font-size: 1.2em;
    transition: .3s ease-in-out;
}

.welcome-m-button button:hover {
    background: #1a1c24;
    color: #000;
    cursor: pointer;
}

.welcome-m-img img {
    display: block;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    float: right;
}

.container-404-img {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.container-404-img img {
    display: block;
    width: 100%;
    z-index: -1;
}

.message-404 p {
    padding: 10px;
    font-family: sans-serif;
    line-height: 1.8em;
    text-align: center;
}

.message-404 a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    font-family: sans-serif;
}

.rec-topics-container {
    width: 100%;
    position: relative;
}

.rec-topics-inner {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.rec-topics-head {
    width: 100%;
}

.rec-topics-head h1 {
    font-family: "Montserrat", sans-serif;
    padding: 20px 0;
    font-weight: 100;
    color: #0f0c29;
}

.rec-topics-flex {
    display: flex;
    justify-content: space-between;
    width: 200%;
    overflow-x: hidden;
    transition: .5s ease-in-out;
    position: relative;
    right: 0;
}

.rec-forward i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #fff;
    z-index: 1;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0a85cc;
}

.rec-backward i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: #fff;
    z-index: 1;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #0a85cc;
}

.rec-topics-flex a {
    text-decoration: none;
}

.rec-topics-sidebar1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rec-box {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 5px 10px;
    overflow: hidden;
    width: 100%;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4d54da, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4d54da, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: #1488cc 2px solid;
    transform: scale(1);
    transition: .25s ease-in-out;
} 

.rec-box:hover {
    transform: scale(1.025);
    border: #1488CC solid 2px;
}

.rec-box-top {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
    position: relative;
}

.rec-box-top::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4d54da, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4d54da, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    clip-path: polygon(100% 0, 0 100%, 100% 100% );
}

.rec-box-top-overlay {
    display: block;
}

.free {
    position: absolute;
    right: 10px;
    bottom: 0;
    background:  #f5af19; 
    border-radius: 10px;
}

.free p {
    font-size: .8em;
    padding: 2px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
}

.rec-box-bottom {
    padding: 20px;
    position: relative;
}

.rec-topics-sidebar2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rec-box-title h1 {
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 100;
}

.rec-box-message p {
    font-size: .9em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    color: #fff;
    margin-bottom: 40px;
}

.rec-box-author {
    position: relative;
}

.rec-box-author h2 {
    font-size: 1.1em;
    color: #fff;
    font-family: sans-serif;
    font-weight: 100;
}

.rec-box-author p {
    color: #fff;
    font-size: .8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;   
}

.search-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,.2);
}

.instructor-container {
    position: relative;
}

.instructor-container-inner {
    display: flex;
    align-items: center;
}

.instructor-illustrator img {
    width: 100%;
}


/* Styling for the Topic pages */

.topics-container {
    width: 100%;
}

.topics-container-inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
}

.topics-unit {
    padding: 25px 40px;
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.topics-unit h1 {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 30px;
}

.topics-sidebar1 {
    width: 25%;
    height: 100vh;
    border-right: 1px solid #ccc;
    overflow-y: scroll;
    background: #fff;
    
}

.small-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 10px;
    padding-right: 0;
    margin: 20px;
}

.small-info-pic {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid rgb(94, 87, 87);
    margin-right: 30px;
}

.small-info-pic img {
    width: 100%;
    height: auto;
}

.small-info p {
    font-size: .8em;
    font-family: "Lato", sans-serif;
    color: #555;
    padding: 5px 0;
    display: block;
}

.small-info span {
    color: #21242c;
    margin-right: 10px;
}

.small-info i {
    margin-right: 5px;
}

.navigator {
    padding: 10px;
    padding-left: 0;
    font-family: "Lato", sans-serif;
    color: #444;
    padding-left: 20px;
    background: #f2f2f2;
    border-top: 1px solid #ddd;
}

.navigator a {
    color: #0071bc;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.navigator span {
    font-size: .8em;
    margin-right: 10px;
    color: #555;
}

.sticky {
    position: fixed;
    top: 0;
    width: 22.1%;
    left: 0;
}

.placeholder {
    width: 25%;
    height: 100%;
    border-right: 1px solid #ccc;
    display: none;
}

.topics-sidebar1-head {
    padding: 20px 0;
}

.topics-sidebar1-head h1 {
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    color: #21242c;
    font-weight: 700;
    text-align: center;
}

.topics-title ul {
    border-left: 3px solid rgb(241, 241, 241);
}

.topics-title ul a {
    display: block;
    font-family: sans-serif;
    color: #005AA7;
}

.topics-title ul li {
    text-decoration: none;
    padding: 15px 0;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-left: 20px;
}

.topics-sidebar2 {
    width: 75%;
    height: 100vh;
}

.topics-sidebar2-inner {
    margin: 20px 10px;
    width: 80%;
    margin: 0 auto;
}

.topics-sidebar2-inner h1,
.topics-sidebar2-inner h2,
.topics-sidebar2-inner h3,
.topics-sidebar2-inner h4,
.topics-sidebar2-inner h5,
.topics-sidebar2-inner h6 {
    font-family: 'Source Sans Pro',Helvetica,Arial,sans-serif !important;
    font-size: 30px;
    color: #21242c;
    margin: 20px 0;
    font-weight: 700;
}

/* .topics-sidebar2-inner div {
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 10px;
} */

.topics-sidebar2-inner p {
    line-height: 30px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 20px 0 50px 0;
    font-size: 20px;
    color: #21242c;
}

.topics-sidebar2-inner li {
    font-family: "Source Sans Pro", sans-serif;
    margin: 30px 0 30px 50px;
    font-size: 19px;
    color: #21242c;
}

.topics-sidebar2-inner img {
    width: auto;
    display: block;
    margin-bottom: 50px;
}

.topics-sidebar2-inner p img {
    width: 100%;
    display: block;
    margin-bottom: 50px;
    height: auto;
}

.topics-sidebar2-inner figcaption {
    line-height: 30px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 20px 0 50px 0;
    font-size: 15px;
    color: rgb(167, 164, 164);
    font-style: italic;
}

.signup-instructor-container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: #f7f7f7;
    padding: 100px;
}

.signup-instructor-container-inner {
    border-radius: .25em;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.175);
}

.signup-instructor-sidebar1 {
    width: 100%;
    /* background: linear-gradient(to top right, #0f0c29, #24243e);
    background: -webkit-linear-gradient(to top right, #0f0c29, #24243e,); */
    background-image: url('/images/teacher.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 70px;
}

.signup-instructor-sidebar1 h2 {
    font-family: "Lato", sans-serif;
    color: #fff;
    line-height: 1.3;
    font-size: 35px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.signup-instructor-sidebar1 img {
    width: 100%;
    height: auto;
}

.signup-instructor-sidebar2 {
    width: 100%;
    background: #fff;
    padding: 70px;
}

.signup-instructor-sidebar2 form {
    margin: 0 auto;
}

.signup-instructor-sidebar2 form label {
    display: block;
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
}

.signup-instructor-sidebar2-p {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 25px;
    font-size: 1em;
    font-family: "Lato", sans-serif;
    z-index: 0;
    color: #666;
    transition: .2s ease-in-out;
    padding: 0 5px;
    background-color: #fff;
}

.slideUp {
    top: 10%;
    font-size: .8em;
    left: 20px;
    color: blue;
    z-index: 1;
}

.signup-instructor-sidebar2 form input {
    padding: 15px;
    width: 100%;
    z-index: 0;
    position: relative;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    color: #21242c;
}

.signup-instructor-sidebar2-header h2 {
    font-size: 25px;
    text-align: center;
    font-family: "Source sans pro", sans-serif;
    color: #21242c;
    margin-bottom: 20px;
}

.form-button {
    padding: 20px;
    border: none;
    background: #ccc;
    width: 100%;
    color: rgb(175, 139, 139);
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 30px;
    pointer-events: none;
}

.form-button--visible {
    color: #fff;
    background-color: #24243e;
    pointer-events: all;
}

.btn-loading-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}

.btn-loading {
    border: 2px solid #3b4152;
    border-radius: 50%;
    border-top: 2px solid #f3f3f3;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin .5s linear infinite;
}

.error-signup {
    position: absolute;
    font-size: .7em;
    right: 0;
    top: 10px;
    font-family: "Lato", sans-serif;
    color: red;
    transition: .3s ease-in-out;
    z-index: 2;
}

.error-signup--visible {
    display: block;
    top: -12px;
}


/* SignUp success overlay */

.success-overlay-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(30,30,30,0.9);
    z-index: 10;
    display: grid;
    margin: auto;
    align-items: center;
    margin: auto;
    transform: scale(1.3);
    visibility: hidden;
    opacity: 0;
    transition: .33s visibility ease-in-out, .33s opacity ease-in-out, .33s transform ease-in-out;
    will-change: visibility, transform, opacity;
}

.success-overlay-container--visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.alert-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.success-overlay-inner {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    transition: .2s ease-in-out;
    margin: 0 auto;
}

.success-overlay-inner img {
    width: 150px;
    margin-bottom: 20px;
}


.success-overlay-inner h1 {
    font-family: "Lato", sans-serif;
    color: #21242c;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.success-overlay-inner p {
    font-size: 1.2em;
    font-family: "Lato";
    color: #444;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.success-overlay-inner a {
    padding: 10px 40px;
    font-family: "Lato", sans-serif;
    background: #007bff;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* SignUp error overlay */

.error-overlay-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(30,30,30,0.9);
    z-index: 10;
    display: grid;
    margin: auto;
    align-items: center;
    margin: auto;
    transform: scale(1.3);
    visibility: hidden;
    opacity: 0;
    transition: .33s visibility ease-in-out, .33s opacity ease-in-out, .33s transform ease-in-out;
    will-change: visibility, transform, opacity;
}

.error-overlay-container--visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.alert-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.error-overlay-inner {
    width: 500px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    transition: .2s ease-in-out;
    margin: 0 auto;
}

.error-overlay-inner i {
    font-size: 60px;
    color: #fc4a1a;
    margin-bottom: 30px;
}


.error-overlay-inner h1 {
    font-family: "Lato", sans-serif;
    color: #21242c;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.error-overlay-inner p {
    font-size: 1.2em;
    font-family: "Lato";
    color: #444;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 35px;
}

.error-overlay-inner a {
    padding: 10px 40px;
    font-family: "Lato", sans-serif;
    background: #fc4a1a;
    border-radius: 5px;
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mobile-content {
    display: none;
}

.signup-instructor-haveAccount {
    display: block;
    text-align: center;
    font-family: sans-serif;
    color: #444;
}

/* Createing topic styling  */
.create-topic-container {
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.create-topic-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.create-topic-grid div {
    width: 100%;
}

.new-course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-new-course-btn button {
    padding: 10px 20px;
    background: #007bff;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}

.create-topic-container h1 {
    color: #444;
    font-family: "Source sans pro";
    margin-bottom: 30px;
}

.create-topic-container label {
    display: block;
    font-family: "Source sans pro";
    font-size: 1.3em;
    color: #444;
    margin-bottom: 10px;
}

.create-topic-container input, 
.create-topic-container select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    color: #444;
    background: transparent;
}

.create-topic-btn {
    padding: 15px 40px;
    background: #007bff;
    color: white;
    font-size: 1.2em;
    border: none;
    margin: 20px 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    width: 100%;
}

.create-course-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(30,30,30,0.9);
    z-index: 1;
    display: none;
    margin: auto;
    align-items: center;
    left: 0;
    transform: scale(1.3);
    visibility: hidden;
    opacity: 0;
    transition: .33s visibility ease-in-out, .33s opacity ease-in-out, .33s transform ease-in-out;
    will-change: visibility, transform, opacity;
}

.create-course-overlay--visible {
    display: grid;
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.new-course h2 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin-bottom: 25px;
}

.create-course-overlay-inner {
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    min-width: 400px;
    overflow: hidden;
    position: relative;
}

.create-course-content div {
    margin-bottom: 20px;
}

.create-course-content form label {
    display: block;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #333;
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-weight: 100;
    color: #dc3545;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.create-course-content input, .create-course-content select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background: transparent;
}

.create-course-content-checkbox {
    display: flex;
    justify-content: start;
}

.create-course-content button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}


/* login styling */

.main-login-container-inner {
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff;
    padding: 50px;
    border-radius: .25em;
    border: 1px solid rgba(0,0,0,.175);
}

.login-avartar {
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
}

.login-avartar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.login-sidebar {
    width: 100%;
}

.login-sidebar form {
    margin: 0 auto;
}

.login-sidebar form label {
    display: block;
    position: relative;
    padding: 5px 0;
    margin-bottom: 10px;
}

.login-sidebar form input {
    padding: 15px;
    width: 100%;
    z-index: 0;
    position: relative;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    color: #21242c;
}

.login-sidebar p {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 25px;
    font-size: 1em;
    font-family: "Lato", sans-serif;
    z-index: 0;
    color: #666;
    transition: .2s ease-in-out;
    padding: 0 5px;
    background-color: #fff;
}

.login-btn {
    padding: 15px;
    border: none;
    background: #21242c;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 20px;
}

.forget-password {
    text-align: center;
}

.forget-password div {
    color: #555;
    padding: 5px 0;
    font-family: "Lato", sans-serif;
    display: inline-block;
    margin-right: 10px;
    font-size: .8em;
}

.forget-password a {
    color: #4d54da;
    padding: 10px 0;
    font-family: "Lato", sans-serif;
    font-size: .8em;
}

.error-ms-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: .5rem 1.25rem;
    border-radius: .25rem;
    color: #721c24;
    font-family: "Lato";
    font-size: .8em;
    margin-bottom: 10px;
}


/* profile styling */

.profile-container {
    padding: 0;
}

.profile-container-inner  {
    background: #f7f7f7;
    border-radius: .25rem;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-sidebar1 {
    width: 29%;
    overflow: hidden;
    border-radius: .25rem;
}

.profile-info-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-info-views {
    background: #fff;
    width: 43%;
    border-radius: .25rem;
}

.profile-header {
    background: #fff;
    padding: 50px;
    border: 1px solid rgba(0,0,0,.175);
    border-radius: .25em;
}

.profile-pic {
    height: 80px;
    width: 80px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-pic img {
    height: 100%;
    width: 100%;
}

.profile-name {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.profile-name h2 {
    font-family: "Lato", sans-serif;
    color: #222;
    margin-bottom: 10px;
    margin: 10px auto;
    font-weight: 800;
}

.profile-desc {
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-bottom: 20px;
}

.profile-edit button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
}

.profile-edit a {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    background: #dc3545;
    color: #fff;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    width: 55%;
    text-align: center;
}

.profile-edit button:hover {
    background: #006ce0;
}

.profile-sidebar2 {
    width: 69%;
}

.profile-info-container {
    background: #fff;
    padding: 50px;
    border-radius: .25rem;
    flex: 1;
    margin-right: 20px;
    border: 1px solid rgba(0,0,0,.175);
}

.profile-info-name {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.profile-info-name label {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin-right: 20px;
}

.profile-info-name p {
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    color: #777;
    margin-top: 5px;
}

.edit-profile-btn button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background: #05a081;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin-bottom: 20px;
}


.profile-activity-container {
    flex: 1;
    background: #fff;
    border-radius: .25rem;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.175);
}

.profile-activity-header h2 {
    font-family: "Lato", sans-serif;
    font-size: 1.3em;
    color: #444;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
}

.profile-activity-content a {
    padding: 10px 20px;
    display: block;
    font-family: "Lato", sans-serif;
    color: #1958dc;
}





@media screen and (max-width: 700px) {
    .rec-topics-flex {
        width: 400%;
    }
}

@media screen and (max-width: 500px) {
    .logo-img img {
        height: 60px;
    }

    .nav {
        display: none;
    }

    .login {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .login button {
        font-size: 15px;
        padding: .5em 2rem;
        margin-right: 10px;
    }

    .login li {
        display: block;
        list-style: none;
        color: #fff;
        font-size: 17px;
        margin-right: 25px;
    }

    .mnavlogin {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .profile-pic-container {
        margin-right: 5px;
    }

    .search-container {
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: relative;
        margin: auto;
    }
    
    .mnav {
        height: 3px;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
    }

    .n1 {
        position: absolute;
        top: 0;
        transition: .25s ease-in-out;
    }

    .n2 {
        position: absolute;
        top: 8px;
        transition: opacity .25s ease-in-out;
    }

    .n3 {
        position: absolute;
        top: 16px;
        transition: .25s ease-in-out;
    }

    .n1open {
        top: 8px;
        transform: rotate(45deg);
    }

    .n2open {
        opacity: 0;
    }

    .n3open {
        top: 8px;
        transform: rotate(-45deg);
    }

    .mobile-nav-menus {
        display: block;
        position: absolute;
        background: #232a34;  /* fallback for old browsers */
        top: 101%;
        width: 100%;
        transition: .25s ease-in-out;
        height: 100vh;
        left: -100%;
    }

    .openNav {
        left: 0;
    }

    .nav-mobile {
        margin-top: 20px;
    }

    .nav-mobile ul a {
        text-decoration: none;
        width: 100%;
        font-size: large;
        font-family: sans-serif;
        color: #fff;
        padding: 5px 0;
        display: block;
    }

    .nav-mobile ul a:hover {
        background: #ff8800;
        color: #000;
    }

    .nav-mobile ul li {
        text-decoration: none;
        padding: 10px 0;
        padding-left: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .welcome-m-container {
        display: block;
    }

    .welcome-sidebar1 {
        width: 100%;
    }

    .welcome-m-h1 h1 {
        font-size: 30px;
        margin: 30px 0;
        margin-top: .5rem;
    }

    .welcome-m-img img {
        float: none;
        margin: 0 auto;
    }

    .rec-topics-flex {
        width: 800%;
    }

    .rec-box-message p {
        font-size: .9em;
    }

    .rec-topics-head h1 {
        font-size: 1.5em;
        text-align: center;
    }

    .rec-forward i {
        font-size: 1.5em;
        right: -5px;
    }

    .rec-backward i {
        font-size: 1.5em;
        left: -5px;
    }

    .instructor-container-inner {
        display: block;
    }

    .instructor-illustrator img {
        max-width: 100%;
    }

    .illustrator-sidebar {
        width: 90%;
        margin: 0 auto;
        position: relative;
    }

    .welcome-m-button button {
        display: block;
        width: 100%;
    }

    .topics-container-inner {
        margin-left: 0;
    }

    .topics-sidebar1 {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 3;
        transition: .25s ease-in-out;
    }

    .placeholder {
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.2);
        z-index: 1;
    }
    
    .mobile-content {
        display: block;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        background: #05a081;
        color: white;
        left: 0;
        padding: .5em;
        font-family: "Lato", sans-serif;
        border-radius: 2px;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
    }

    .topics-unit {
        width: 100%;
        padding: 15px;
    }

    .topics-sidebar2 {
        width: 100%;
    }

    .topics-sidebar2-inner {
        width: 90%;
        margin: 0 auto;
    }

    .topics-sidebar2-inner img {
        width: 100%;
    }

    .small-info {
        margin: 0;
    }

    .small-info-pic {
        margin-right: 20px;
    }

    .small-info p {
        text-align: left;
    }

    .signup-instructor-container {
        padding: 0;
    }

    .signup-instructor-container-inner {
        flex-direction: column;
        padding: 20px;
    }

    .signup-instructor-sidebar1 {
        display: none;
    }

    .signup-instructor-sidebar2 {
        padding: 15px;
        border: 1px solid rgba(0,0,0,.175);
    }

    .signup-instructor-sidebar2 form input {
        padding: 10px;
    }

    .signup-instructor-sidebar2-p {
        font-size: .9em;
    }

    .slideUp {
        font-size: .8em;
        left: 15px;
    }

    .signup-instructor-sidebar2 form button {
        padding: 10px;
        font-size: .9em;
        margin-bottom: 15px;
    }

    .signup-instructor-haveAccount {
        text-align: left;
        font-size: .8em;
    }

    .success-overlay-inner {
        width: 80%;
        height: auto;
        border-radius: 5px;
    }

    .success-overlay-inner i {
        font-family: 35px;
    }

    .success-overlay-inner h1 {
        font-size: 20px;
    }

    .success-overlay-inner p {
        font-size: 1.1em;
        width: 90%;
    }

    .success-overlay-inner img {
        height: 100px;
    }

    .success-overlay-inner a {
        padding: 10px 20px;
        width: 100%;
        font-size: 1em;
    }

    /* error */
    .error-overlay-inner {
        width: 80%;
        height: auto;
        border-radius: 5px;
    }

    .error-overlay-inner i {
        font-family: 35px;
    }

    .error-overlay-inner h1 {
        font-size: 20px;
    }

    .error-overlay-inner p {
        font-size: 1.1em;
        width: 95%;
    }

    .error-overlay-inner a {
        padding: 10px 20px;
        width: 100%;
        font-size: 1.1em;
    }

    .create-topic-container {
        width: 90%;
        border: none;
    }

    .create-topic-container h1 {
        font-size: 30px;
        margin-bottom: 35px;
        text-align: center;
    }

    .create-topic-grid {
        display: block;
    }

    .create-topic-container input, .create-topic-container select {
        width: 100%;
    }

    .create-topic-container input {
        width: 100%;
    }

    .main-login-container {
        padding: 20px;
    }

    .main-login-container-inner {
        border-radius: 0;
        padding: 25px;
        border-radius: .25em;
    }

    .login-sidebar form input {
        padding: 10px;
    }

    .profile-container {
        display: block;
    }

    .profile-container-inner {
        display: block;
    }

    .profile-sidebar1 {
        width: 100%;
    }

    .profile-header {
        padding: 15px;
        margin-bottom: 20px;
    }

    .profile-sidebar2 {
        width: 100%;
    }

    .profile-info-flex {
        display: block;
    }

    .profile-info-container {
        padding: 20px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .new-course-container {
        margin-top: 20px;
    }

    .create-course-overlay {
        padding: 20px;
    }

    .create-course-overlay-inner {
        min-width: 90%;
    }
}